github "apisit/ScrollableGraphView" "4.0.7"
github "kishikawakatsumi/KeychainAccess"
github "HarshilShah/DeckTransition"
github "ashleymills/Reachability.swift"
github "pkluz/PKHUD" 
github "onevcat/Kingfisher"
github "hyperoslo/Cache"
github "jiecao-fm/SwiftTheme"
github "teambition/WebBrowser"
github "Marxon13/M13Checkbox"
github "airbnb/lottie-ios" "master"
github "amplitude/Amplitude-iOS"
binary "https://building42.github.io/Specs/Carthage/iOS/Crashlytics.json"
binary "https://building42.github.io/Specs/Carthage/iOS/Fabric.json"
github "uias/Pageboy" "3.0.0.beta.2"
github "saltyskip/Tabman" "master"
github "zendesk/zendesk_sdk_ios"
